/* ==========================================================================
   #BUTTON
   ========================================================================== */

.c-button {
  user-select: none;
  background: transparent;
  border: 0;
}

/* Size variants
   ========================================================================== */

.c-button--big {
  padding: 1em 4em;
}

/* Flat button
   ========================================================================== */

.c-button--flat {
  background-color: transparent;
}

/* Raised button
   ========================================================================== */

.c-button--raised {
  padding: 0.5em 1.5em;

  @extend %u-depth--1;
}

/* Icon button
   ========================================================================== */

.c-button--icon {
  padding: 0.25em;
  background-color: transparent;
}