<article class="c-game" [style.background-image]="'url(' + game.image + ')'">
    <div class="c-game__overlay"></div>
    
    <div class="c-game__wrapper">
        <!--<button class="c-button c-button&#45;&#45;icon" (click)="editGame($event)">-->
            <!--<svg class="c-game__wrapper__action" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
                <!--<path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>-->
            <!--</svg>-->
        <!--</button>-->

        <div class="c-game__logo">
            <img class="c-game__logo__image" src="{{ game.logo }}" />

           <div class="c-game__logo__name">
               {{ game.name }}
           </div>
        </div>

        <!--<button class="c-button c-button&#45;&#45;icon">-->
            <!--<svg class="c-game__wrapper__action" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
                <!--<path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>-->
            <!--</svg>-->
        <!--</button>-->
    </div>
    
    <div class="c-game__description"></div>
</article>