/* ==========================================================================
   #BUTTON
   ========================================================================== */

button {
  line-height: 1;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}